html {
  color: white;
  background-image: url("./assets/background.png");
  background-repeat: repeat;
  position: relative;
}
body {
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
