@import url('http://fonts.cdnfonts.com/css/toon-around');
html {
  color: white;
  background-repeat: repeat;
  background-size: cover;
  background-image: 
    /* top, transparent red */
    linear-gradient(
      rgba(0, 0, 0, 0.65), 
      rgba(0, 0, 0, 0.65)
    ),
    /* your image */
    url("./assets/background-big.png");
}
h1 {
  font-family: 'Toon Around', sans-serif;
  font-size: 1000%;
  text-align: center;
  margin: 40%;
}
